# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
/bin/
/pkg/
/vendor/

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Log files
*.log
app_log_*.log

# JSON files with user data (если не хотите их в репозитории)
users_json/
*.json



# Config files with sensitive data
config.json